CONN_STRING=mongodb://localhost:27017
DB_NAME=chivoradar
NEXT_PUBLIC_CARTO_API_KEY=your_carto_api_key
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
CACHE_TTL_SECONDS=300 # optional, default 300 seconds
